body{
    background-image: url(https://img.vixdata.io/pd/webp-large/es/sites/default/files/imj/otramedicina/B/Beneficios-de-la-manzana-verde-en-ayunas-1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center
}

div{
    margin:auto;
}

h1{
    color:cadetblue;
}

img{
    width:400px;
}

#spanId{
    margin: 50px;
    font-size: 18px;
}

#thirdDiv{
    padding: 50px;
    background-color:lightblue;
    width: 500px;
    height: 600px;
    border: 1px solid black;
}
